include LICENSE
include README.rst
include CHANGES.rst

include setup.cfg

recursive-include docs *
recursive-include tests *.py

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
